
<div class="card mb-3 mt-3" style="width: 14rem; ">
  <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/'+nombre._id+'.png'" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-uppercase">#{{nombre._id}} {{nombre.name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a [routerLink]="['description',nombre._id]" class="btn btn-primary">Mas Información...</a>
  </div>
</div>
