
  <div class="d-flex justify-content-center">
    <div class="d-flex w-75 border border-4 border-success">
      <div class="col-4 align-content-center">
        <img class="img-fluid " [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/'+idPoke+'.png'"  alt="...">
      </div>
      <div class="col-8 align-content-center">
        <h5 class="mt-2 text-uppercase text-center">#{{pokemon._id}} {{pokemon.name}}</h5>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="cambio==1 ? 'active' : ''" aria-current="page" (click)="pagination(1)" >Ataques Especiales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="cambio==2 ? 'active' : ''" (click)="pagination(2)">Evoluciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        <container-element [ngSwitch]="this.cambio">
          <app-ability *ngSwitchCase="1"></app-ability>
          <app-evolucion *ngSwitchCase="2"></app-evolucion>


        </container-element>


      </div>
    </div>
  </div>